# Capstone Project 2
**Predicting stock prices with a neural network**

## Introduction

The objective of this project is to use deep learning to predict movement in Mircosoft stock using a deep learning model. In order to capture as much relevant data as possible, much more than just the historical data for microsoft will be included in the model. We will include 3 of Microsoft's major competetors (Apple, Amazon, and Google), technical indicators for Microsoft, as well as market indicies for NASDAQ, NYSE, and S&P 500.

## Data Wrangling
Using the Alpha Vantage API to pull raw data and technical indicators for the model.

### Import Packages

In [1]:
import pandas as pd
import requests

In [2]:
api_key = ''

### Define functions to pull stock data

In [3]:
def get_stock_data(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    function to pull adjusted stock prices from the alphavantage API.
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=' + symbol + '&outputsize=full&apikey=' + api_key
        
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Time Series (Daily)']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [4]:
def get_ma(symbol, period, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    funciton to pull simple moving average data for closing prices of a stock using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    period is the number of days per moving average, i.e. 7-day moving average -> period = 7
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=SMA&symbol=' + symbol + '&interval=daily&time_period='+ str(period) + '&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: SMA']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [5]:
def get_macd(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    
    """
    funciton to pull the moving average convergence/divergence data for closing prices of a stock using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=MACD&symbol=' + symbol + '&interval=daily&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: MACD']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

In [6]:
def get_bbands(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    """
    funciton to pull bollinger bands data for closing prices of a stock with a 21 day period using the alpha vantage API
    
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2010'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=BBANDS&symbol=' + symbol + '&interval=daily&time_period=21&series_type=close&apikey=' + api_key
    
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Technical Analysis: BBANDS']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

### Create datasets

In [7]:
apple_df = get_stock_data('AAPL')

In [8]:
apple_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,157.5000,158.5200,154.5500,156.2300,155.5636,42291424,0.0000,1.0000
2018-12-27,155.8400,156.7700,150.0700,156.1500,155.4839,53117065,0.0000,1.0000
2018-12-26,148.3000,157.2300,146.7200,157.1700,156.4996,58582544,0.0000,1.0000
2018-12-24,148.1500,151.5500,146.5900,146.8300,146.2037,37169232,0.0000,1.0000
2018-12-21,156.8600,158.1600,149.6300,150.7300,150.0871,95744384,0.0000,1.0000

In [9]:
google_df = get_stock_data('GOOGL')

In [10]:
google_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,1059.5000,1064.2300,1042.0000,1046.6800,1046.6800,1718352,0.0000,1.0000
2018-12-27,1026.2000,1053.3400,1007.0000,1052.9000,1052.9000,2299806,0.0000,1.0000
2018-12-26,997.9900,1048.4500,992.6450,1047.8500,1047.8500,2315862,0.0000,1.0000
2018-12-24,984.3200,1012.1200,977.6599,984.6700,984.6700,1817955,0.0000,1.0000
2018-12-21,1032.0400,1037.6700,981.1900,991.2500,991.2500,5232490,0.0000,1.0000

In [11]:
msft_df = get_stock_data('MSFT')

In [12]:
msft_df.head()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2018-12-28,102.0900,102.4100,99.5200,100.3900,99.9609,38169312,0.0000,1.0000
2018-12-27,99.3000,101.1900,96.4000,101.1800,100.7475,49498509,0.0000,1.0000
2018-12-26,95.1400,100.6900,93.9600,100.5600,100.1301,51634793,0.0000,1.0000
2018-12-24,97.6800,97.9700,93.9800,94.1300,93.7276,43935192,0.0000,1.0000
2018-12-21,101.6300,103.0000,97.4600,98.2300,97.8101,111242070,0.0000,1.0000

In [13]:
amzn_df = get_stock_data('AMZN')

In [14]:
amzn_df.tail()

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,8. split coefficient
2010-01-08,130.5600,133.6800,129.0300,133.5200,133.5200,9830500,0.0000,1.0000
2010-01-07,132.0100,132.3200,128.8000,130.0000,130.0000,11030200,0.0000,1.0000
2010-01-06,134.6000,134.7300,131.6500,132.2500,132.2500,7178800,0.0000,1.0000
2010-01-05,133.4300,135.4790,131.8100,134.6900,134.6900,8851900,0.0000,1.0000
2010-01-04,136.2500,136.6100,133.1400,133.9000,133.9000,7599900,0.0000,1.0000

### Market indicators
We will also include some composite index data to supplement the raw stock data. This will help improve the predictive power of the model. The data will be downloaded from Yahoo Finance in csv format and added to the raw data folder.

### Technical indicators
In addition to the composite index data, we will supplement our model with some common technical indicators: 7 & 21-day moving average, moving average convergence/divergence (MACD), and bollinger bands. These will only be constructed for our target stock, Microsoft.

In [17]:
msft_ma7 = get_ma('MSFT', period = 7)

In [18]:
msft_ma7.head()

                 SMA
2018-12-28   99.9557
2018-12-27  100.4671
2018-12-26  100.7114
2018-12-24  101.4929
2018-12-21  103.6814

In [19]:
msft_ma21 = get_ma('MSFT', period = 21)

In [20]:
msft_ma21.tail()

                SMA
2010-01-08  30.5082
2010-01-07  30.4563
2010-01-06  30.4248
2010-01-05  30.3871
2010-01-04  30.3333

In [21]:
msft_macd = get_macd('MSFT')

In [22]:
msft_macd.tail()

              MACD MACD_Hist MACD_Signal
2010-01-08  0.3346   -0.0850      0.4196
2010-01-07  0.3645   -0.0764      0.4409
2010-01-06  0.4185   -0.0414      0.4600
2010-01-05  0.4491   -0.0213      0.4703
2010-01-04  0.4621   -0.0135      0.4757

In [23]:
msft_bbands = get_bbands('MSFT')

In [24]:
msft_bbands.tail()

           Real Lower Band Real Middle Band Real Upper Band
2010-01-08         29.5024          30.5082         31.5140
2010-01-07         29.3773          30.4563         31.5353
2010-01-06         29.3091          30.4248         31.5404
2010-01-05         29.2673          30.3871         31.5070
2010-01-04         29.2202          30.3333         31.4465

In [25]:
msft_bbands.tail()

           Real Lower Band Real Middle Band Real Upper Band
2010-01-08         29.5024          30.5082         31.5140
2010-01-07         29.3773          30.4563         31.5353
2010-01-06         29.3091          30.4248         31.5404
2010-01-05         29.2673          30.3871         31.5070
2010-01-04         29.2202          30.3333         31.4465

### Push raw data to csv files
Now that we've got our raw data, let's dump them to CSV files for further analysis.

In [26]:
apple_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/apple.csv')
google_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/google.csv')
msft_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft.csv')
amzn_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/amzn.csv')
msft_ma7.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_ma7.csv')
msft_ma21.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_ma21.csv')
msft_macd.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_macd.csv')
msft_bbands.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft_bbands.csv')