# Capstone Project 2
**Predicting stock prices with a neural network**

## Introduction

The objective of this project is to use deep learning to predict movement in stocks using a deep learning model. We will be analyzing time series data from 3 major tech companies: Apple, Google, and Microsoft.

## Data Wrangling
Using Quandl's API to pull data from the WIKI database.

### Import Packages

In [1]:
import pandas as pd
import requests
import datetime

In [2]:
api_key = ''

### Define function to pull stock data

In [77]:
def get_stock_data(symbol, start_date='2010-01-01', end_date='2018-12-31'):
    """
    symbol is a string representing a stock symbol, e.g. 'AAPL'
    
    start_date is the start date of the time series, defaults to '1/1/2000'
    
    end_date is the end date of the time series, defaults to '12/31/2018'
    
    start_date & end_date must be in string format
    """
    
    url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=' + symbol + '&outputsize=full&apikey=' + api_key
        
    r = requests.get(url)
    
    df = r.json()
    
    df = pd.DataFrame(df['Time Series (Daily)']).T
    
    df = df[(df.index > start_date) & (df.index < end_date)]
 
    return df

### Create datasets

In [78]:
apple_df = get_stock_data('AAPL')

In [80]:
apple_df.head()

             1. open   2. high    3. low  4. close 5. volume
2018-12-28  157.5000  158.5200  154.5500  156.2300  42291424
2018-12-27  155.8400  156.7700  150.0700  156.1500  53117065
2018-12-26  148.3000  157.2300  146.7200  157.1700  58582544
2018-12-24  148.1500  151.5500  146.5900  146.8300  37169232
2018-12-21  156.8600  158.1600  149.6300  150.7300  95744384

In [86]:
google_df = get_stock_data('GOOGL')

In [82]:
google_df.head()

              1. open    2. high     3. low   4. close 5. volume
2018-12-28  1059.5000  1064.2300  1042.0000  1046.6800   1718352
2018-12-27  1026.2000  1053.3400  1007.0000  1052.9000   2299806
2018-12-26   997.9900  1048.4500   992.6450  1047.8500   2315862
2018-12-24   984.3200  1012.1200   977.6599   984.6700   1817955
2018-12-21  1032.0400  1037.6700   981.1900   991.2500   5232490

In [84]:
msft_df = get_stock_data('MSFT')

In [85]:
msft_df.head()

             1. open   2. high   3. low  4. close  5. volume
2018-12-28  102.0900  102.4100  99.5200  100.3900   38169312
2018-12-27   99.3000  101.1900  96.4000  101.1800   49498509
2018-12-26   95.1400  100.6900  93.9600  100.5600   51634793
2018-12-24   97.6800   97.9700  93.9800   94.1300   43935192
2018-12-21  101.6300  103.0000  97.4600   98.2300  111242070

In [87]:
amzn_df = get_stock_data('AMZN')

In [88]:
amzn_df.tail()

             1. open   2. high    3. low  4. close 5. volume
2010-01-08  130.5600  133.6800  129.0300  133.5200   9830500
2010-01-07  132.0100  132.3200  128.8000  130.0000  11030200
2010-01-06  134.6000  134.7300  131.6500  132.2500   7178800
2010-01-05  133.4300  135.4790  131.8100  134.6900   8851900
2010-01-04  136.2500  136.6100  133.1400  133.9000   7599900

### Push raw data to csv files
Now that we've got our raw data, let's dump them to CSV files for further analysis.

In [89]:
apple_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/apple.csv')
google_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/google.csv')
msft_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/msft.csv')
amzn_df.to_csv('/Users/jessemailhot/Documents/GitHub/springboard/Capstone 2/raw data/amzn.csv')

###